{
  "compilerOptions": {
    "lib": ["ES2021.String", "ES2021.Promise", "DOM", "ES2017", "dom.iterable"],
    "paths": {
      "@POM/*": ["pages/*"],
      "@CommonTestFunctions/*": ["tests/utility/*"]
    },
    "baseUrl": ".",
    "target": "ES2021",
    "module": "CommonJS",
    "resolveJsonModule": true,
    "moduleResolution": "Node",
    "esModuleInterop": true,
    "skipLibCheck": true,
    "forceConsistentCasingInFileNames": true
  }
}
